.foodEntryWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}

.foodName {
  border: none;
  background-color: white;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 18px;
  padding-bottom: 3px;
}

.deleteButton {
  background-color: red;
  border: none;
  width: 27px;
  height: 10px;
  cursor: pointer;
}

.foodDescription {
  text-align: center;
  font-style: italic;
}